.login{
    background-color: rgb(15, 15, 15);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}
.login_container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login_container> h1{
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

.login_container > form > h5{
    margin-bottom: 5px;
    color: white;
}

.login_container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: rgb(15, 15, 15);
    width: 98%;
    color: white;
}

.login_container > p{
    margin-top: 15px;
    font-size: 12px;
    color: white;
}

.login_signInButton{
    background: rgb(7, 196, 80);
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(7, 196, 80); 
}

.login_registerButton{
    
    border-radius: 2px;
    width: 100%;
    color: white;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    background: rgb(175, 20, 20);
    border-color: rgb(175, 20, 20); 
}